<a href="https://colab.research.google.com/gist/Filipe1986/e0529f2d49914a4b004a2d1276453fc6/cloudbees2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GET from API to Colab

In [66]:
import json
import requests
import time

base_url = 'https://api.covid19api.com'

countries_req = requests.get(base_url + '/countries')
countries_str = countries_req.text
countries_json = json.loads(countries_str)

fileCases = 'countries.txt'
c = open(fileCases, 'w')

for country in countries_json:
  c.write(country['Slug'])
c.close()

response_list = []


fileSuccess = 'log.txt'
s = open(fileSuccess, 'w')


for country in countries_json:
    country_req = requests.get(base_url + '/country/' + country['Slug'])
    country_str = country_req.text
    time.sleep(0.5)
    if country_req.status_code == 200 and len(country_str) > 10:
        try:
            country_json = json.loads(country_str)
            #print(country_json[-1])
            response_list += country_json
            s.write("Sucesso :"  + country['Slug'] + "\n")
        except:
            s.write("except: "  +  country['Slug']+ "\n")
    else:
      s.write("Status: " + str(country_req.status_code) + " Erro: "  + country['Slug'] +  " payload: "  + country_str +  "\n")

s.close()
response_str = json.dumps(response_list)
filename = 'covid19api.json'
f = open(filename, 'w')
f.write(response_str)
f.close()

In [67]:
import json
import requests
import time

base_url = 'https://api.covid19api.com'

countries_req = requests.get(base_url + '/countries')
countries_str = countries_req.text
countries_json = json.loads(countries_str)
response_list = []

countries_json = [
        'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE','FL','GA','HI', 'IA', 'ID',
        'IL','IN', 'KS', 'KY', 'LA', 'MA','MD', 'ME', 'MI','MN','MO','MS','MT','NC',
        'ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','RI','SC','SD',
        'TN', 'TX','UT','VT','VA','WA','WI', 'WV', 'WY', 'DC', 'PR']    

for country in countries_json:
    country_req = requests.get(base_url + '/country/' + 'united-states'+ '?province=' + country)
    country_str = country_req.text
    time.sleep(0.5)
    if country_req.status_code == 200 and len(country_str) > 10:
        try:
            country_json = json.loads(country_str)
            response_list += country_json
        except:
            pass
response_str = json.dumps(response_list)
filename = 'covid19api-usa.json'
f = open(filename, 'w')
f.write(response_str)
f.close()

# PUT from Colab to S3

In [68]:
!pip install boto3

Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (1.17.93)
Requirement already satisfied: s3transfer<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.4.2)
Requirement already satisfied: botocore<1.21.0,>=1.20.93 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.20.93)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.10.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore<1.21.0,>=1.20.93->boto3) (1.26.5)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.21.0,>=1.20.93->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.21.0,>=1.20.93->boto3) (1.15.0)

In [69]:
import boto3

bucket = 'cloudbees-bucket'
key = 'covid19api.json'

s3_resource = boto3.resource('s3', 
                    aws_access_key_id = 'AKIA4A4QDIGY6FVOFLGB',
                    aws_secret_access_key= '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')
s3_resource.Bucket(bucket).upload_file(key, key)

In [70]:
import boto3

keyUsa = 'covid19api-usa.json'
s3_resource = boto3.resource('s3', 
                    aws_access_key_id = 'AKIA4A4QDIGY6FVOFLGB',
                    aws_secret_access_key= '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')
s3_resource.Bucket(bucket).upload_file(keyUsa, keyUsa)

# GET from S3 to Colab

In [71]:
s3_resource = boto3.resource('s3', 
                    aws_access_key_id = 'AKIA4A4QDIGY6FVOFLGB',
                    aws_secret_access_key= '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')
s3_resource.Bucket(bucket).download_file(key, key)

In [72]:
s3_resource = boto3.resource('s3', 
                    aws_access_key_id = 'AKIA4A4QDIGY6FVOFLGB',
                    aws_secret_access_key= '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')
s3_resource.Bucket(bucket).download_file(keyUsa, keyUsa)

# Database

In [10]:
  !pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.7/dist-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.12.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (57.0.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [74]:
import mysql
import mysql.connector
from getpass import getpass
from datetime import datetime

mydb = mysql.connector.connect(
  host="gama.cn27cseohzrm.us-east-2.rds.amazonaws.com",
  user="admin",
  password="SenhaBoba2000",
  database="cloudbees"
)
#password=getpass("yourpassword?"),

print(datetime.now())
print(mydb)

2021-06-12 15:02:25.800183
<mysql.connector.connection_cext.CMySQLConnection object at 0x7f506fc83ed0>

In [75]:
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS Cases")
mycursor.close()

True

In [76]:
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS UsaCases")
mycursor.close()

True

In [77]:
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS Country")
mycursor.close()

True

In [78]:
mycursor = mydb.cursor()
mycursor.execute("""CREATE TABLE IF NOT EXISTS Country (CountryCode varchar(255) NOT NULL UNIQUE, 
                  Name varchar(255) NOT NULL UNIQUE, Lat FLOAT  , Lon FLOAT , PRIMARY KEY (CountryCode))""")
mycursor.execute("""CREATE TABLE IF NOT EXISTS Cases  (CountryCode varchar(255) NOT NULL, 
                  Confirmed int , Deaths int, Recovered int , Active int , date DATE )""")

mycursor.execute("""CREATE TABLE IF NOT EXISTS UsaCases  (CountryCode varchar(255) NOT NULL, 
                  Confirmed int , Deaths int, Recovered int , Active int , 
                  Province varchar(255), City varchar(255), CityCode varchar(255), 
                  date DATE )""")


mycursor.execute("""ALTER TABLE Cases ADD CONSTRAINT Cases_fk0 FOREIGN KEY (CountryCode) 
                  REFERENCES Country(CountryCode)""")

mycursor.execute("""ALTER TABLE UsaCases ADD CONSTRAINT Cases_fk1 FOREIGN KEY (CountryCode) 
                  REFERENCES Country(CountryCode)""")
mycursor.close()

True

In [79]:
mycursor = mydb.cursor()
mycursor.execute("Select * FROM Country")
for i in mycursor:
  print(i)

mycursor.close()

True

In [80]:
mycursor = mydb.cursor()
mycursor.execute("Select count(*) FROM Cases")
for i in mycursor:
  print(i)

mycursor.close()

(0,)

True

In [81]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)
print('\n\n')
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)
mycursor.close()

('cloudbees',)
('information_schema',)
('mysql',)
('performance_schema',)



('Cases',)
('Country',)
('UsaCases',)

True

In [82]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [83]:
'''import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

with open('covid19api-usa.json', 'r') as json_file:
  data = json.load(json_file)

df = spark.createDataFrame(
    data
)'''

KeyboardInterrupt: ignored

In [ ]:
"""
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
df.createOrReplaceTempView('df_view')

spark.sql('''
SELECT distinct(CountryCode)
FROM df_view
''')
"""

In [84]:
import json

sqlCountry = "INSERT INTO Country (CountryCode, Name, Lat, Lon ) VALUES (%s, %s, %s, %s)"
sqlCases = """INSERT INTO Cases (CountryCode, Confirmed, Deaths, Recovered, Active, date ) 
              VALUES (%s, %s, %s, %s, %s, %s)"""


mycursor = mydb.cursor()

with open('covid19api.json', 'r') as json_file:
  data = json.load(json_file)

countries = set()

for i in data:
  if i['CountryCode'] not in countries:
    countries.add(i['CountryCode'])
    country = (i['CountryCode'] , i['Country'], i['Lat'], i['Lon'])
    #print(country)
    mycursor.execute(sqlCountry, country)
    
cases = []
for i in data:
  cases.append((i['CountryCode'] , i['Confirmed'], i['Deaths'], i['Recovered'], i['Active'], i['Date']))

mycursor.close()
mycursor = mydb.cursor()

try:
    mycursor.executemany(sqlCases, cases)
    mydb.commit()
except:
    conn.rollback()


mycursor.close()

True

In [ ]:
"""
import pandas as pd
pd.read_json('covid19api-usa.json')
"""

In [85]:
import json


sqlCountry = "INSERT INTO Country (CountryCode, Name, Lat, Lon ) VALUES (%s, %s, %s, %s)"

sqlUsaCases = """INSERT INTO UsaCases (CountryCode, Confirmed, Deaths, Recovered, Active,
              Province, City, CityCode, date ) 
              VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""


mycursor = mydb.cursor()

with open('covid19api-usa.json', 'r') as json_file:
  data = json.load(json_file)



for i in data:
  if i['CountryCode'] not in countries:
    countries.add(i['CountryCode'])
    country = (i['CountryCode'] , i['Country'], i['Lat'], i['Lon'])
    #print(country)
    mycursor.execute(sqlCountry, country)

cases = []
for i in data:
  cases.append((i['CountryCode'] , i['Confirmed'], i['Deaths'], i['Recovered'], i['Active'],
                i['Province'], i['City'], i['CityCode'],
                i['Date']))

mycursor.close()
mycursor = mydb.cursor()

try:
    mycursor.executemany(sqlUsaCases, cases)
    mydb.commit()
except:
    mydb.rollback()

# 4

### Panorama diário de quantidade de casos confirmados de COVID-19 do país com maior número.

In [88]:
import datetime

dia = datetime.datetime.today().day
print(dia)

12

In [ ]:
import datetime

today = datetime.datetime.today().day
day = datetime.datetime(2021, 6, today-2, 0, 0)

mycursor = mydb.cursor()
sql = '''
select v.countryCode , v.Confirmed, v.Date from Cases AS v
INNER JOIN
(Select  countryCode
FROM Cases 
where date=%s
order by Confirmed DESC  
limit 1) as v2
ON v.countryCode = v2.countryCode
order by v.countryCode, v.date
'''

mycursor.execute(sql, (day,))

for i in mycursor:
  print(i)

mycursor.close()

### Panorama diário de quantidade de mortes de COVID-19 do país com maior número.

In [ ]:
today = datetime.datetime.today().day
day = datetime.datetime(2021, 6, today-2, 0, 0)
mycursor = mydb.cursor()
sql = '''
select v.countryCode , v.Deaths, v.Date from Cases AS v
INNER JOIN
(Select  countryCode
FROM Cases 
where date=%s
order by Deaths DESC  
limit 1) as v2
ON v.countryCode = v2.countryCode
order by v.countryCode, v.date
'''

mycursor.execute(sql, (day,))

for i in mycursor:
  print(i)
mycursor.close()

### Total de mortes por COVID-19 dos 10 países do mundo com maiores números.

In [92]:
import datetime

today = datetime.datetime.today().day
day = datetime.datetime(2021, 6, today-2, 0, 0)
mycursor = mydb.cursor()
sql = '''
Select c.Name, ca.countryCode, Deaths , date
FROM Cases ca , Country as c
where date=%s
and ca.countryCode = c.countryCode
order by Deaths DESC  
limit 10
'''

mycursor.execute(sql, (day,))

for i in mycursor:
  print(i)
mycursor.close()

('Brazil', 'BR', 482019, datetime.date(2021, 6, 10))
('India', 'IN', 363079, datetime.date(2021, 6, 10))
('Mexico', 'MX', 229580, datetime.date(2021, 6, 10))
('Peru', 'PE', 187847, datetime.date(2021, 6, 10))
('United Kingdom', 'GB', 127867, datetime.date(2021, 6, 10))
('Italy', 'IT', 126855, datetime.date(2021, 6, 10))
('Russian Federation', 'RU', 123178, datetime.date(2021, 6, 10))
('France', 'FR', 109398, datetime.date(2021, 6, 10))
('Colombia', 'CO', 94046, datetime.date(2021, 6, 10))
('Germany', 'DE', 89693, datetime.date(2021, 6, 10))

True

### Total de casos confirmados por COVID-19 dos 10 países do mundo com maiores números.

In [93]:
import datetime

today = datetime.datetime.today().day
day = datetime.datetime(2021, 6, today-2, 0, 0)
mycursor = mydb.cursor()
sql = '''
Select c.Name, ca.countryCode, Confirmed , date
FROM Cases ca , Country as c
where date=%s
and ca.countryCode = c.countryCode
order by Confirmed DESC  
limit 10
'''

mycursor.execute(sql, (day,))

for i in mycursor:
  print(i)
mycursor.close()

('India', 'IN', 29274823, datetime.date(2021, 6, 10))
('Brazil', 'BR', 17210969, datetime.date(2021, 6, 10))
('France', 'FR', 5667993, datetime.date(2021, 6, 10))
('Turkey', 'TR', 5313098, datetime.date(2021, 6, 10))
('Russian Federation', 'RU', 5108217, datetime.date(2021, 6, 10))
('United Kingdom', 'GB', 4542986, datetime.date(2021, 6, 10))
('Italy', 'IT', 4239868, datetime.date(2021, 6, 10))
('Argentina', 'AR', 4066156, datetime.date(2021, 6, 10))
('Spain', 'ES', 3729458, datetime.date(2021, 6, 10))
('Germany', 'DE', 3718617, datetime.date(2021, 6, 10))

True

In [ ]:
import datetime
mycursor = mydb.cursor()

mycursor = mydb.cursor()
sql = '''
Select *
FROM Cases 
where 
CountryCode = 'IN'
'''

mycursor.execute(sql)

for i in mycursor:
  print(i)

mycursor.close()

In [ ]:
import datetime
mycursor = mydb.cursor()

mycursor = mydb.cursor()
sql = '''
Select count(*)
FROM Country 

'''

mycursor.execute(sql)

for i in mycursor:
  print(i)

mycursor.close()